{{#extends "base"}}
{{#block "head" mode="append"}}
<link rel="stylesheet" href="styles/about.css">
{{/block}}
{{#block "content"}}
<div class="container">
  <div class="bg-image">
    {{!-- <img class="img-fluid img-thumbnail" src="./images/about-bg.jpg" /> --}}
    <div class="bg-text">
      <h3>Singapore’s Water Cooler Map Introduction</h3>
    </div>
  </div>
  <section class="intro-content">
    <h4>Introduction:</h4>

    <p>Since coming to live in Singapore, I've noticed some genuinely user-friendly aspects of the city. One prominent
      example is the abundance of free water Coolers, found in airports, food court corners, near public restrooms,
      within condom, and especially along parks and greenways. Given Singapore's tropical, equatorial climate, it's easy
      to get dehydrated when outdoors. Carrying water everywhere can be cumbersome, and buying water can be economically
      burdensome.</p>

    <p>Access to free, safe drinking water outdoors is particularly beneficial for those who enjoy outdoor activities
      like running or hiking, like myself. However, this raises a question: How do I find these water points when
      exploring unfamiliar areas?
    </p>

    <h4>Attempted Solutions:</h4>

    <p>I tried searching on Google Maps and Apple Maps, but to no avail – such data is probably only relevant in
      Singapore and is a niche need, not covered by these major platforms. Even various Singapore government websites
      didn't provide the answers I sought.</p>

    <p>I found someone who attempted something similar here. <a href="https://linktr.ee/brayontng">The creator</a>, a
      first-year university student, used Google
      Forms to gather data and display it on a custom Google Map. However, it seems the project hasn't been updated in
      over half year, and several known points around me are missing. Moreover, most points lack pictures, which could
      make practical usage challenging.</p>


    <h4>My Solution:</h4>

    <p>I decided to create a map website by using <a href="https://leafletjs.com/index.html">leaflet.js</a>. Upon
      opening, the website shows nearby water points, giving details like latitude and longitude, the floor(storey), and
      whether the water is room temperature, cold, or hot. It also displays a picture of the area and easily integrates
      with third-party map applications for navigation.</p>

    <p>Of course, I don't have complete data. Hence, the app includes a feature to "upload a water point", encouraging
      community participation to gradually enhance the database. The goal is to cover most of the water points in
      Singapore. Thus, my project was born. However, as I'm new to Leaflet, the app may have some minor issues and a
      basic interface, but I'm committed to improving it.
    </p>



    <h4><a href="/add">Uploading Water Points:</a></h4>

    <p>To upload a water point, click on the top right corner of the map. You'll need to take a photo of the water
      point and fill in the necessary information
      and hit "upload." The uploaded data won't instantly appear in the map; to prevent misuse and misinformation, I've
      implemented a review process, after review you may see the uploaded data appear in the map.</p>

    <h4>The Source Code:</h4>

    <p><a target="_blank" href="https://github.com/Molly6943/water-cooler-map-sg">Water Cooler Map SG</a></p>


    <h4>Contact and Inquiries:</h4>

    <p>For any issues with the app or further queries, contact me via Email(molly6943liu@gmail.com) here. I welcome all
      inquiries and
      feedback.</p>
  </section>
</div>

{{/block}}

{{/extends}}