{{#extends "base"}}
{{#block "head" mode="append"}}
<link rel="stylesheet" href="styles/form.css">
{{/block}}
{{#block "content"}}
  <div class="container form-container">
    <h3 class="pb-3">Singapore Water Dispenser Location</h3>
    <p class="pb-2">Please try to be as precise as possible. If it is not applicable, key in "NA".</p>
    <form method="post" action="/api/points" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label"><span style="color: red;">*</span>What is the name of the Building / Street / Parks /
          Establishment? (E.g. JEM, Bukit Timah Nature Reserve Visitor Centre)</label>
        <input name="name" type="text" class="form-control" placeholder="Your answer" required>
      </div>
      <div class="mb-3">
        <label class="form-label"><span style="color: red;">*</span>Postal Code (E.g. 608532)(If there isn't a Postal Code, key in "0".)</label>
        <input name="postcode" type="text" class="form-control" placeholder="Your answer" required>
      </div>
      <div class="mb-3">
        <label class="form-label"><span style="color: red;">*</span>Which storey is it located at? (E.g. 1)</label>
        <input name="level" type="text" class="form-control" placeholder="Your answer" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Latitute(E.g. 1.33314)</label>
        <input name="latitude" type="number" step="any" class="form-control" placeholder="Your answer">
      </div>
      <div class="mb-3">
        <label class="form-label">Longitude(E.g. 103.74291)</label>
        <input name="longitude" type="number" step="any"  class="form-control" placeholder="Your answer">
      </div>
      <div class="mb-3">
        <label class="form-label"><span style="color: red;">*</span>Iconic landmark near to the water dispenser? (E.g. Next to Public Toilets / Inside the Shop Muji / Next to a red building)</label>
        <input name="description" type="text" class="form-control"
          placeholder="Your answer" required />
      </div>
      <div class="mb-3">
        <label class="form-label"><span style="color: red;">*</span>Temperature</label>
        <div>
          <input name="temperature" type="checkbox" value="Cold" />
          <label class="me-3">Cold</label>
          <input name="temperature" type="checkbox" value="Hot" />
          <label class="me-3">Hot</label>
          <input name="temperature" type="checkbox" value="Room Temperature" /> <label class="me-3">Room
            Temperature</label>
          <input name="temperature" type="checkbox" value="Unsure" />
          <label>Unsure</label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label"> Who does the maintenance / operate the water dispenser? (E.g. NParks)
        </label>
        <input name="operator" type="text" class="form-control" placeholder="Your answer">
      </div>
      <div class="mb-3">
        <label class="form-label">Do you have a photo of the location of the water dispenser? *If you do have, submit the photo and name the file as the postal code.
        </label>
        <input type="file" name="image" class="form-control" aria-label="file example">
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
        <button class="btn btn-outline-primary" type="button" onclick="goBack()">Cancel</button>
      </div>
    </form>
  </div>
  <!-- axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"
    integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    function goBack() {
      history.back();
    }
  </script>

{{/block}}

{{/extends}}