{{#extends "base"}}
{{#block "content"}}
<div class="container mt-5">
  <div class="alert alert-success" role="alert">
    {{name}} has been added successfully, thank you for your contribution. You can search for the location you just
    added on the <a href="/">homepage</a>.
  </div>
</div>
{{/block}}

{{/extends}}